node_modules
.next
.git
.env
.env.local
.env.development
.env.staging
.env.production
.dockerignore
Dockerfile
README.md
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store
C:\Users\Felix\OneDrive\Desktop\Telekom\Website\dev_preisliste\dts_saleshelper\docs
C:\Users\Felix\OneDrive\Desktop\Telekom\Website\dev_preisliste\dts_saleshelper\scripts
